.container-about {
  margin-top: 8rem; /* Reduzido para melhorar a aparência em telas menores */
}

.about-text {
  text-align: center;
  font-size: 20px;
  padding: 2rem; /* Reduzido para melhorar a aparência em telas menores */
}

.container-box {
  width: 90%; /* Usando largura percentual para se adaptar melhor */
  max-width: 900px; /* Limitando a largura máxima para melhor legibilidade */
  margin: 0 auto; /* Centralizando o container */
  background-color: #333;
  border-radius: 40px;
  box-shadow: 28px 28px 56px #423d3d, -28px -28px 56px #656060;
  background-image: url("../../img/blurry-gradient-haikei.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-text-p {
  font-weight: bolder;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.about-text-h1 {
  color: #cfc37c;
}

/* Media Query para telas menores */
@media screen and (max-width: 768px) {
  .about-text {
    font-size: 16px;
    padding: 1rem; /* Reduzido para melhorar a aparência em telas menores */
  }

  .container-box {
    border-radius: 20px;
    margin-left: 1.3rem;
  }
    
  .about-text-p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ffd900;
  }

  .about-text-h1 {
    color: #cfc37c;
    font-size: 2rem;
    font-weight: bold;
  }
}
